@import '_variables.less';

.counter-list {
  list-style: none;
  margin:     0;
  padding:    0;

  li {
    display: inline-block;
  }
}

#loss-list li {
  color: @trials-loss-color;
}

.played {
  opacity: 1;

  i {
    animation: blink-animation 1s steps(5, start) 3;
  }
}

.unplayed {
  opacity: 0.5;
}

#win-list li {
  color: @trials-win-color;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
